.layoutBox{
    width: 100%;
    height: 100%;
}
.nav_footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;

    .tabbar-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: #9D9B9C;
        line-height: 17px;

        img {
            width: 25px;
        }

        a {
            margin-top: 5px;
            text-decoration: none;
            color: #9D9B9C;
        }

        &.item-select {
            a {
                color: #2ECBC7;
            }
        }
    }

}